
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>

            <ion-item>
              <ion-input name="korisnik" type="text" value="{{ order.value.korisnik}}" readonly></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="drzava" type="text" value="{{ order.value.drzava}}" readonly></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="grad" type="text" value="{{ order.value.grad}}" readonly></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="adresa" type="text"  value="{{ order.value.adresa}}" readonly></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

